/*全体の背景に関する設定*/
html {
 	font-size: 25px;
	background-color: #C1E5F5; 
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	min-height: 100%
}
.header {
	padding: 3%
}
/*ボタンの配置に関する設定*/
.parent{
	display:flex;
	justify-content: space-between;
}

/*メニューバーに関する設定*/
ul{
    background-color: #fff;
	list-style-type:none;
	justify-content: center;
	display: flex;
    vertical-align:middle;
}

/*メニューバーの区切り線に関する設定(線無しになりました。)
.home{
	border-right: 2px solid 	#C0C0C0;
}

.regist{
	border-right: 2px solid 	#C0C0C0;
}

.search{
	border-right: 2px solid 	#C0C0C0;
}
*/
/* ニックネーム表示 */
.nickname {
	font-size:35px;
}

/*メニューバーに配置された各項目に関する設定*/
li{
	padding: 15px 50px 15px 50px;
    vertical-align:middle;
    text-align:center;
    position:relative;
}

/*メニューバーに設置された各項目を推したときの処理*/
a:link{
    color: #000;
    text-decoration: none;
}
a:visited{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: underline;
}
a:active{
    color: #000;
    text-decoration: underline;
}

/*ボタンの大きさに関する設定*/
.output{
	background: #fff;
  	padding: 8px 16px;
  	text-decoration: none;
  	border-radius: 4px;
}

.output:link{
    color: #fff;
    text-decoration: none;
}
.output:visited{
    color: #fff;
    text-decoration: none;
}
.output:hover{
    background-color: #256498;
    text-decoration: none;
}
.output:active{
    background-color: #256498;
    text-decoration: none;
}

/* main で中央寄せしないこと（子要素にまかせて頂戴） */

/*フッターに関する設定*/
.footer{
	text-align:center;
}

