/*全体の背景に関する設定*/
html {
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background-color: #C1E5F5;
}

/*ボタンの配置に関する設定*/
.parent{
	display:flex;
	justify-content: space-between;
}

/*メニューバーに関する設定*/
ul{
	margin: 5px;
	padding: 0;
    background-color: #fff;
	list-style-type:none;
	justify-content: center;
	display: flex;
    vertical-align:middle;
}

/*メニューバーの区切り線に関する設定*/
.home{
	border-right: 2px solid #000;
}

.regist{
	border-right: 2px solid #000;
}

.search{
	border-right: 2px solid #000;
}

/*メニューバーに配置された各項目に関する設定*/
li{
	padding: 30px 50px 30px 50px;
    vertical-align:middle;
    text-align:center;
    position:relative;
}

/*メニューバーに設置された各項目を推したときの処理*/
a:link{
    color: #000;
    text-decoration: none;
}
a:visited{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: underline;
}
a:active{
    color: #000;
    text-decoration: underline;
}