
	main {
  	text-align: center;
	}

	main p {
    margin-top: 40px;
    font-weight: bold;
    font-size : 1.5rem;
  	}
  
	main summary {
	margin-top: 20px;
	}
	
	main details {
	background-color: #fff;
	}