main{
	margin-left:20vx;
	margin-right:20vw;
}

main p {
   margin-top: 40px;
   font-weight: bold;
   font-size : 1.5rem;
 	}
 
main summary {
margin-top: 20px;
}

.qa{
	margin: 5px;
	padding: 0;
	list-style-type:none;
	justify-content: center;
	display: flex;
    vertical-align:middle;
    background-color: #C1E5F5;
}

.text{
text-align:left;
display:inline-block;
}
