main,
.footer
{
	margin: 0 auto;
	width: 80vw;
}

main p {
   margin-top: 40px;
   font-weight: bold;
   font-size : 	20px;
 	}

main summary {
margin-top: 20px;
cursor: pointer;
}

.qa{
	margin: 5px;
	padding: 0;
	list-style-type:none;
	justify-content: center;
	display: flex;
    vertical-align:middle;
    background-color: #C1E5F5;
}

.text{
text-align:left;
display:inline-block;
background-color: white;  /* 白背景 */
padding: 10px;             /* 少し内側に余白 */
border-radius: 8px;        /* 角丸で柔らかく */
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* 軽い影で浮かせる */
margin-top: 5px;
width: 100%; /* 親要素内で全幅指定 */
}
