.center {
    width: 100%;
    max-width: 800px;
    margin: 40px auto 0;
    margin-top: 40px; 
    text-align: center;
    background-color: #ffffff;
    border-radius: 100px;         /* 角丸 */
    padding: 20px 30px;         /* 内側余白 */
    box-sizing: border-box;
    display: block;     /* padding込みで幅計算 */
	}
	
	.center h2 {
    margin-bottom: 10px;
    }
	
	.center:active{
    
    }
	
/* 一覧のカード用CSS */
	.card_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
    max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;

	}

	/* カード本体 */
	.card {
	position: relative;
	overflow: hidden;
  	height: 120px;
	background-color: #f4fbfd;
	border: 1px solid #cce6f3;
	border-radius: 10px;
	box-shadow: 0 2px05px rgba(0, 0, 0, 0.08);
	padding: 15px 20px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	margin-bottom: 10px;

	}
	
	/* h2 titleの中央寄せ */


	/* タイトル(左上に固定) */
   .card_title {
   position: absolute;
   top: 10px;
   left: 15px;
   margin:0;
   font-size: 24px;
   color: black;
   }
   
 	/* テキスト（右下） */
	.card_text_area {
  	position: absolute;
  	bottom: 10px;
  	right: 15px;
  	text-align: right;
	}
	
	/* テキストを前面に出す */
	.card_title,
	.card_text_area {
	z-index: 2;
	}
	
	/* 白いぼかしレイヤーを重ねる */
	.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.2;
	z-index: 1;
	}

   .card_text {
   margin: 2px 0;
   font-size: 20px;
   color: #444;
   text-align: right;
   position: static;
   }
   
   /* --- カードホバーで拡大 --- */ 
   .card:hover {
   transform: scale(1.03);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   }
   
   /* -- ページング -- */
   .pagination button {
   background: none;
   border: none;
   padding: 0;
   margin: 0 5px;
   font-size: 25px;
   cursor: pointer;
   color: black;
   text-decoration: none;
   }
   
   .pagination button:hover {
   text-decoration: underline;
   }
   
   form {
   padding: 10px;
   }