/* tab用CSS */
    .tab_wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    /* タブ表示（tab_wrap とか）で使う */
	.tab-center {
	     /* 中央寄せ */
	     width: 70%;
	     margin: 0 auto;
	}
	

	/* ▼ タブ全体 */
	.tab_area {
    display: flex;
    justify-content: center;
    gap: 10px;
  	margin-bottom: 0;
  	height: 40px;
	}

	/* ▼ タブボタン共通 */
    .tab_btn {
    width: 150px;
    heighf: 100%;
    padding: 5px 10px;
    font-size: 14px;
    /* デフォルトの色設定 */
    color: black;
    background-color: #d9f0f9;
    border: 2px solid transparent;
    border-bottom: none;
  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	cursor: pointer;
  	position: relative;
	text-align: center;
    }

    /* ▼ アクティブタブボタン */
    .tab_btn.active {
    z-index: 1;
    background: #ffffff;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    }

	/* ▼ パネルエリア */
	.tab_panel {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    }
    
    .tab_panel.active{
   display: block; 
    }
    
    
